@import "@/assets/scss/colors";
*{
    font-family:system-ui, sans-serif;
}
.linkCta{
    font-size: 1.25rem;
    font-weight: 700;
    color: $black;
    text-decoration: none;
}
.link{
    font-size: 14px;
    font-weight: 400;
    color: $linkGray;
}
.navTitle{
    font-size: 24px;
    font-weight: 700;
    color: $black;
    text-decoration: none;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: $black;
    text-decoration: none;
    letter-spacing: 4px;
    text-transform: uppercase;
}
@media(min-width:768px){
}
@media(min-width:1028px){}
@media(min-width:1200px){
    .linkCta{
        font-size: 1rem;
    }
}